/*fadein custom*/
@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
}



.swiper-slide-active .e-carousel-slider .main-title, .swiper-slide-active .e-carousel-slider .product-img,
.swiper-slide-active .e-carousel-slider .current-price,.swiper-slide-active .e-carousel-slider del,.swiper-slide-active .e-carousel-slider .shop-now,.swiper-slide-active .e-carousel-slider .details-info-button,
.carousel-item.active .arch-carousel-slider .shape,.carousel-item.active .arch-carousel-slider .upper-title,
.carousel-item.active .arch-carousel-slider .main-title,.carousel-item.active .arch-carousel-slider .read-more,
.carousel-item.active .arch-carousel-slider .details-info-button{
    -webkit-animation-name: fadeInUp2;
    animation-name: fadeInUp2;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.swiper-slide-active .e-carousel-slider .main-title {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.swiper-slide-active .e-carousel-slider .product-img{
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.swiper-slide-active .e-carousel-slider .current-price{
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
}
.swiper-slide-active .e-carousel-slider del{
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
}
.swiper-slide-active .e-carousel-slider .shop-now{
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
}
.swiper-slide-active .e-carousel-slider .details-info-button{
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
}

/* arch slider carousel slider */
.carousel-item.active .arch-carousel-slider .shape {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.carousel-item.active .arch-carousel-slider .upper-title{
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.carousel-item.active .arch-carousel-slider .main-title{
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}
.carousel-item.active .arch-carousel-slider .read-more{
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
}
.carousel-item.active .arch-carousel-slider .details-info-button{
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-duration: 1.1s;
  animation-duration: 1.1s;
}

